.root {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: 0 16px;
}

.text {
  font-size: 14pt;
  font-weight: bold;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

.icon {
  width: 56px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}

@media (max-width: 860px) {
  .icon {
    width: 32px;
  }
}
